.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin: 40px;

    transform-style: preserve-3d;
    perspective: 100px;
    perspective-origin: 50% 10%;
}

.cardFirst {
    z-index: 3;
    transform: translate3d(0%, 0%, 0px);
}

.cardFirst.forward {
    animation: firstForward 1s 1;
}

.cardFirst.back {
    animation: firstBack 1s 1;
}

.cardSecond {
    position: absolute;
    z-index: 2;
    transform: translate3d(0%, -10%, -5px);
}

.cardSecond.forward {
    animation: secondForward 1s 1;
}

.cardSecond.back {
    animation: secondBack 1s 1;
}

.cardThird {
    position: absolute;
    z-index: 1;
    transform: translate3d(0%, -20%, -10px);
}

.cardThird.forward {
    animation: thirdForward 1s 1;
}

.cardThird.back {
    animation: thirdBack 1s 1;
}

.title {
    position: absolute;
    top: 60px;
    left: 100px;

}

.annotation {
    position: absolute;
    top: 180px;
    left: 50px;
    width: 800px;
}

.thumb {
    width: 960px;
    height: 400px;

    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

@keyframes firstForward {
    0% {
        transform: translate3d(0%, 0%, 0px);
    }

    100% {
        transform: translate3d(0%, -20%, -10px);
    }
}

@keyframes firstBack {
    0% {
        transform: translate3d(0%, 0%, 0px);
    }

    100% {
        transform: translate3d(0%, -10%, -5px);
    }
}

@keyframes secondForward {
    0% {
        transform: translate3d(0%, -10%, -5px);
    }

    100% {
        transform: translate3d(0%, 0%, 0px);
    }
}

@keyframes secondBack {
    0% {
        transform: translate3d(0%, -10%, -5px);
    }

    100% {
        transform: translate3d(0%, -20%, -10px);
    }
}

@keyframes thirdForward {
    0% {
        transform: translate3d(0%, -20%, -10px);
    }

    100% {
        transform: translate3d(0%, -10%, -5px);
    }
}

@keyframes thirdBack {
    0% {
        transform: translate3d(0%, -20%, -10px);
    }

    100% {
        transform: translate3d(0%, 0%, 0px);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}